<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Albert Airlines</title>
</head>
<body>
    <nav>
        <a class="nav__logo" href="{% url 'index' %}">Albert Airline</a>
        <ul class="nav__links">
            <li class="link"><a href="{% url 'index' %}">Home</a></li>
            <li class="link"><a href="{% url 'destinations' %}">Destinations</a></li>
            <li class="link"><a href="{% url 'reservations' %}">Vos réservations</a></li>
            <li id="admin-link" class="link" style="display: none;"><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
        </ul>
        <div class="nav__user" id="user-info"></div>
        <script type="module">
            import { connect, StringCodec } from '{% static "js/nats.js" %}';

            document.addEventListener('DOMContentLoaded', async function() {
                const user = JSON.parse(sessionStorage.getItem('user'));
                const userInfoDiv = document.getElementById('user-info');
                const adminLink = document.getElementById('admin-link');

                if (user) {
                    userInfoDiv.innerHTML = `<span>Welcome, ${user.prenom} ${user.nom}</span>
                                              <a href="{% url 'profile' %}" class="profile-link">Profile</a>
                                              <button id="logout-btn" class="btn">Logout</button>`;
                    
                    try {
                        // Connexion au serveur NATS
                        const nc = await connect({ servers: "ws://localhost:9222" });
                        const sc = StringCodec();
                        const requestData = { user_email: user.email };
                        
                        // Envoyer la demande de vérification d'admin via NATS
                        const response = await nc.request("check_admin", sc.encode(JSON.stringify(requestData)), { timeout: 5000 });
                        const responseData = JSON.parse(sc.decode(response.data));
                        console.log(responseData);
                        
                        if (responseData.status === 'success' && responseData.is_admin) {
                            adminLink.style.display = 'block';
                            console.log('User is admin');
                        } else {
                            console.log('User is not admin');
                        }
                    } catch (err) {
                        console.error(`Erreur de connexion au serveur NATS: ${err.message}`);
                    }

                    document.getElementById('logout-btn').addEventListener('click', function() {
                        fetch("{% url 'logout' %}", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": "{{ csrf_token }}",
                                "Content-Type": "application/json"
                            }
                        }).then(response => {
                            if (response.ok) {
                                sessionStorage.removeItem('user');
                                window.location.href = "{% url 'index' %}";
                            } else {
                                alert("Failed to logout");
                            }
                        });
                    });
                } else {
                    userInfoDiv.innerHTML = `<button class="btn" onclick="window.location.href='{% url 'login' %}'">Login</button>`;
                }
            });
        </script>
    </nav>
    <header class="section__container header__container">
        <h1 class="section__header">Trouver et Reserver<br />Une formidable Experience</h1>
        <img src="{% static 'images/header.jpg' %}" alt="header" />
    </header>

    <section class="section__container plan__container">
      <p class="subheader">Voyage SUPPORT</p>
      <h2 class="section__header">Voyage avec nous ?</h2>
      <p class="description">
        Trouvez de l’aide pour vos réservations et vos projets de voyage, et découvrez à quoi vous attendre tout au long de votre voyage. 
      </p>
      <div class="plan__grid">
        <div class="plan__content">
          <span class="number">01</span>
          <h4>trouver votre vol</h4>
          <p>
            Grace a notre systèeme d'arriver et de départ vous pouvez trouver votre vol en un clin d'oeil.
          </p>
          <span class="number">02</span>
          <h4>Faites votre reservation</h4>
          <p>
           Il vous suffit de crée un compte et de vous y connecter pour reserver votre vol.
          </p>
          <span class="number">03</span>
          <h4>Passer au paiement</h4>
          <p>
            Pour payer, preparer un moyen de paiement et suivez les instructions qui vous seront données.
          </p>
        </div>
        <div class="plan__image">
          <img src="{% static 'images/plan-1.jpg' %}" alt="plan" />
          <img src="{% static 'images/plan-2.jpg' %}" alt="plan" />
          <img src="{% static 'images/plan-3.jpg' %}" alt="plan" />
        </div>
      </div>
    </section>

    <section class="memories">
      <div class="section__container memories__container">
        <div class="memories__header">
          <h2 class="section__header">
            Les étapes de votre voyage avec nous
          </h2>
          <a href="{% url 'destinations' %}" class="btn">View All</a>
        </div>
        <div class="memories__grid">
          <div class="memories__card">
            <span><i class="ri-calendar-2-line"></i></span>
            <h4>Trouver</h4>
            <p>
              Grace à notre système d'arrivée et de départ vous pouvez trouver votre vol en un clin d'oeil.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-shield-check-line"></i></span>
            <h4>Reserver</h4>
            <p>
              Il vous suffit de crée un compte et de vous y connecter pour reserver votre vol.
            </p>
          </div>
          <div class="memories__card">
            <span><i class="ri-bookmark-2-line"></i></span>
            <h4>Payer</h4>
            <p>
              Pour payer, preparer un moyen de paiement et suivez les instructions qui vous seront données.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>Albert Airline</h3>
          <p>
           Projet crée dans le cadre de la SAE DEVCLOUD.
          </p>
        </div>
        <div class="footer__col">
          <h4>INFORMATION</h4>
          <a style="color: rgb(255, 255, 255);" href="{% url 'index' %}">Home</a><br>
          <a style="color: rgb(255, 255, 255);" href="{% url 'destinations' %}">Destinations</a>
          <li class="link"><a href="{% url 'reservations' %}">Vos réservations</a></li>
        </div>
        <div class="footer__col">
          <h4>CONTACT</h4>
            <a style="color: rgb(255, 255, 255);" href="https://github.com/kalicatt">Github Servais Lucas</a><br>
            <a style="color: rgb(255, 255, 255);" href="https://github.com/Fl0wwDev">Github Fradin Mahé</a><br>
            <a style="color: rgb(255, 255, 255);" href="https://github.com/kalicatt">Github Antonio Christoper</a>
        </div>
      </div>
      <div class="section__container footer__bar">
        <p>Projet par : SERVAIS Lucas, FRADIN Mahé, ANTONIO Christopher</p>
      </div>
    </footer>
  </body>
</html>