<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Profil</title>
    <style>
        .profile-container {
            display: flex;
        }
        .profile-sidebar {
            flex: 1;
            padding: 20px;
            border-right: 1px solid #ccc;
        }
        .profile-content {
            flex: 3;
            padding: 20px;
        }
        .profile-sidebar button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
        .reservations {
            margin-top: 20px;
        }
        .reservation {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .validated {
            color: green;
        }
        .pending {
            color: orange;
        }
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <nav>
        <a class="nav__logo" href="/" style="width: 200px;margin-right: 25px;">Albert Airlines</a>
        <ul class="nav__links">
            <li class="link"><a href="{% url 'index' %}">Home</a></li>
            <li class="link"><a href="{% url 'destinations' %}">Destinations</a></li>
            <li class="link"><a href="{% url 'reservations' %}">Réservations</a></li>
            <li id="admin-link" class="link" style="display: none;"><a href="{% url 'admin_dashboard' %}">Admin</a></li>
        </ul>
        <div class="nav__user" id="user-info"></div>
        <script type="module">
            import { connect, StringCodec } from '{% static "js/nats.js" %}';

            document.addEventListener('DOMContentLoaded', async function() {
                const user = JSON.parse(sessionStorage.getItem('user'));
                const userInfoDiv = document.getElementById('user-info');
                const adminLink = document.getElementById('admin-link');

                if (user) {
                    userInfoDiv.innerHTML = `<span style="width: 168px;">Bienvenue, ${user.prenom} ${user.nom}</span>
                                              <a href="{% url 'profile' %}" class="profile-link">Profile</a>
                                              <button id="logout-btn" class="btn">Logout</button>`;             
                    try {
                        // Connexion au serveur NATS
                        const nc = await connect({ servers: "ws://localhost:9222" });
                        const sc = StringCodec();
                        const requestData = { user_email: user.email };
                        
                        // Envoyer la demande de vérification d'admin via NATS
                        const response = await nc.request("check_admin", sc.encode(JSON.stringify(requestData)), { timeout: 5000 });
                        const responseData = JSON.parse(sc.decode(response.data));
                        console.log(responseData);
                        
                        if (responseData.status === 'success' && responseData.is_admin) {
                            adminLink.style.display = 'block';
                            console.log('User is admin');
                        } else {
                            console.log('User is not admin');
                        }
                    } catch (err) {
                        console.error(`Erreur de connexion au serveur NATS: ${err.message}`);
                    }

                    document.getElementById('logout-btn').addEventListener('click', function() {
                        fetch("{% url 'logout' %}", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": "{{ csrf_token }}",
                                "Content-Type": "application/json"
                            }
                        }).then(response => {
                            if (response.ok) {
                                sessionStorage.removeItem('user');
                                window.location.href = "{% url 'index' %}";
                            } else {
                                alert("Failed to logout");
                            }
                        });
                    });
                } else {
                    userInfoDiv.innerHTML = `<button class="btn" onclick="window.location.href='{% url 'login' %}'">Login</button>`;
                }
            });
        </script>
    </nav>
    <header class="section__container header__container">
        <h1 class="section__header">Profil</h1>
    </header>

    <section class="section__container profile-container">
        <aside class="profile-sidebar">
            <img src="{% static 'images/photo-de-profil.jpg' %}" alt="Profile Picture" class="profile-picture" id="profile-picture">
            <button id="profile-tab" class="btn">Profil</button>
            <button id="password-tab" class="btn">Changer de mot de passe</button>
            <button id="address-tab" class="btn">Changer d'adresse</button>
            <button id="profile-picture-tab" class="btn">Changer de photo de profil</button>
        </aside>
        <div class="profile-content">
            <div id="profile-section" class="profile-section">
                <h2>Vos informations</h2>
                <br>
                <p>Prénom: <strong><span id="profile-prenom"></span></strong></p>
                <p>Nom de Famille: <strong><span id="profile-nom"></span></strong></p>
                <p>Email: <strong><span id="profile-email"></span></strong></p>
                <p>Argent: <strong><span id="profile-argent"></span></strong></p> <!-- Afficher l'argent ici -->
            </div>
            <div id="password-section" class="profile-section" style="display: none;">
                <h2>Changer de mot de passe</h2>
                <br>
                <form id="change-password-form">
                    <div>
                        <label for="current-password">Current Password</label>
                        <input type="password" id="current-password" name="current-password">
                    </div>
                    <div>
                        <label for="new-password">New Password</label>
                        <input type="password" id="new-password" name="new-password">
                    </div>
                    <div>
                        <label for="confirm-password">Confirm New Password</label>
                        <input type="password" id="confirm-password" name="confirm-password">
                    </div>
                    <br>
                    <button type="submit" class="btn">Change Password</button>
                </form>
            </div>
            <div id="address-section" class="profile-section" style="display: none;">
                <h2>Changer d'adresse</h2>
                <form id="change-address-form">
                    <div>
                        <label for="country">Country</label>
                        <input type="text" id="country" name="country">
                    </div>
                    <div>
                        <label for="city">City</label>
                        <input type="text" id="city" name="city">
                    </div>
                    <div>
                        <label for="street">Street</label>
                        <input type="text" id="street" name="street">
                    </div>
                    <button type="submit" class="btn">Change Address</button>
                </form>
            </div>
            <div id="profile-picture-section" class="profile-section" style="display: none;">
                <h2>Changer de photo de profil</h2>
                <form id="change-profile-picture-form" enctype="multipart/form-data">
                    <div>
                        <label for="profile-picture">Upload New Profile Picture</label>
                        <input type="file" id="profile-picture-upload" name="profile-picture">
                    </div>
                    <button type="submit" class="btn">Upload</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="section__container footer__container" style="padding-top:30px; padding-bottom: 30px;">
          <div class="footer__col">
            <h3>Albert Airlines</h3>
            <p>
             Projet crée dans le cadre de la SAE devcloud.
            </p>
          </div>
          <div class="footer__col">
            <h4>INFORMATION</h4>
            <a style="color: rgb(255, 255, 255);" href="{% url 'index' %}">Home</a><br>
            <a style="color: rgb(255, 255, 255);" href="{% url 'destinations' %}">Destinations</a>
          </div>
          <div class="footer__col">
            <h4>CONTACT</h4>
              <a style="color: rgb(255, 255, 255);" href="https://github.com/kalicatt">Github Servais Lucas</a><br>
              <a style="color: rgb(255, 255, 255);" href="https://github.com/Fl0wwDev">Github Fradin Mahé</a><br>
              <a style="color: rgb(255, 255, 255);" href="https://github.com/kalicatt">Github Antonio Christoper</a>
          </div>
        </div>
        <div class="section__container footer__bar">
          <p>Projet par : SERVAIS Lucas, FRADIN Mahé, ANTONIO Christopher</p>
        </div>
      </footer>

    <script type="module">
        import { connect, StringCodec } from '{% static "js/nats.js" %}';

        document.addEventListener('DOMContentLoaded', async function() {
            console.log("Document loaded");

            let nc;

            try {
                // Connexion au serveur NATS
                nc = await connect({ servers: "ws://localhost:9222" });

                console.log("Connecté au serveur NATS");

                nc.closed().then(() => {
                    console.log("Connexion au serveur NATS fermée");
                });

                const user = JSON.parse(sessionStorage.getItem('user'));

                if (user) {
                    const sc = StringCodec();
                    const requestData = { email: user.email };

                    // Envoyer la demande pour récupérer l'argent via NATS
                    const response = await nc.request("get_client_money", sc.encode(JSON.stringify(requestData)), { timeout: 5000 });
                    const responseData = JSON.parse(sc.decode(response.data));
                    if (responseData.status === 'success') {
                        document.getElementById('profile-prenom').innerText = user.prenom;
                        document.getElementById('profile-nom').innerText = user.nom;
                        document.getElementById('profile-email').innerText = user.email;
                        document.getElementById('profile-argent').innerText = `${responseData.argent} €`;
                    } else {
                        console.error('Failed to fetch money data');
                    }

                    // Gestion des onglets
                    document.getElementById('profile-tab').addEventListener('click', function() {
                        showSection('profile-section');
                    });
                    document.getElementById('password-tab').addEventListener('click', function() {
                        showSection('password-section');
                    });
                    document.getElementById('address-tab').addEventListener('click', function() {
                        showSection('address-section');
                    });
                    document.getElementById('profile-picture-tab').addEventListener('click', function() {
                        showSection('profile-picture-section');
                    });

                    function showSection(sectionId) {
                        document.querySelectorAll('.profile-section').forEach(section => {
                            section.style.display = 'none';
                        });
                        document.getElementById(sectionId).style.display = 'block';
                    }

                    // Gestion du bouton logout
                    const logoutBtn = document.getElementById('logout-btn');
                    if (logoutBtn) {
                        logoutBtn.addEventListener('click', function() {
                            sessionStorage.removeItem('user');
                            location.reload();  // Reload the page to update the UI
                        });
                    }
                } else {
                    console.error('User not found in sessionStorage');
                }
            } catch (err) {
                console.error(`Erreur de connexion au serveur NATS: ${err.message}`);
            }
        });
    </script>
</body>
</html>
