<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/signup_succes.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription réussite</title> 
</head>
<body>
    <h1>Inscription réussite !</h1>
    <p>Merci you for signing up. Your account has been created successfully.</p>
    <button class="btn" onclick="window.location.href='{% url 'login' %}'">Login</button>
    <p >Welcome to our community!</p>
    <script>
        document.getElementById('showMessage').addEventListener('click', function() {
            document.getElementById('welcomeMessage').style.display = 'block';
        });
    </script>
</body>
</html>