<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/login.css' %}">
    <title>Login | Ludiflex</title>
</head>
<body>
    <nav>
        <div class="nav__logo">Airline</div>
    </nav>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" class="input-field" name="username" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check" name="remember_me">
                    <label for="check">Remember me</label>
                </section>
                <section>
                    <a>Forgot password</a>
                </section>
            </div>
            <div class="input-submit">
                <button class="submit-btn" id="submit" type="submit">Sign In</button>
            </div>
        </form>
        <div class="sign-up-link">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
